/*Colors*/
/*
    Orange: #FF8C00
    Grey: #808080
*/

* {
    transition: all 1s linear;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;    
}

html {
    font-size: 62.5%;
}

body {
    background-color: lightyellow;    
    font-family: 'Fira Sans', sans-serif;
    color: #696969;
    margin: 0;
    padding: 0;
}

header {   
    margin: 0; 
    padding: 0; 
    text-align: center;  
}

h1{
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

span, p, a {
    font-size: 1.5rem;
}

a {
    display: inline-block;
    max-width: 20rem;
    text-align: left;    
}

img {
    width: 32px;
    height: 32px;
}

meter{
    width: 200px;
    height: 20px;    
}

header h1{
    color: #FF8C00;
}

header h2{
    color: #808080;
}

meter {
    width: 20em;
}

.content-wrap {
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid #FF8C00;
    max-width: 85%;
    width: 1000px;
    margin: 0 auto;
    padding: 1rem 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.content-wrap h1, h2 {
    margin: 1rem 0rem;
}

.content-wrap-summary {    
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    padding-top: 12rem;    
    max-width: 85%;
}

.summary-container{
    display: flex;
    flex-direction: row;
    background-color: white;
}

.summary-item-overview{
    max-width: 30%;    
    flex: 1 1 100px;
    background-color: #808080;
    color: white;
    padding: 10px;
    text-align: center;
}
.summary-item-overview h2{    
    margin: 20px 0 5px 0 ;
}
.summary-item-overview p{    
    margin: 10px 0;
}

.summary-item-overview a{
    color: yellow;
    padding: 0;
}

.summary-item-projects{
    flex: 1 1 200px;  
    padding: 0 10px 10px 10px;      
}

.project-item{
    padding: 10px;
}

.summary-item-projects h3{
    margin: 0;
    padding: 0;
}

.project-item p{
   font-weight: 500;
   margin: 15px 0 15px 15px;
}

.project-duration-container{
    display: flex;
    justify-content: space-between;
}

.project-duration-container span{
    font-style: italic;
    margin: 5px 0 0 0;
    font-weight: 600;
}

.image-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-title-container h2{
    margin: 0 0 0 10px;
}

.image-projecttitle-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.image-projecttitle-container img{
    width: 64px;    
    min-height: 48px;
}

.image-projecttitle-container h3{
    margin: 0 0 0 10px; 
}

.job-experience {
    display: flex;
    justify-content: start;
    align-items: center;
}

.job-experience img{
    margin: 0 10px 0 0;
}

.job-experience h2{
    margin: 15px 0 10px 0;
}

footer{
    max-width: 1000px;
    margin: 0 auto;
    height: 32px;
    background-color: #2F4F4F;
    text-align: end;
    align-items: center;
}

footer p{    
    color: white;
    margin: 0;
    padding: 0;
}

.project-item p span {
    font-weight: 700;
    font-style: italic;
}

@media(max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 750px) {

    meter {
        max-width: 10rem;
    }
}

@media(max-width: 650px) {

    .content-wrap-summary {           
        padding-top: 16rem;    
    }

    meter {
        max-width: 8rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }

    .content-wrap-summary {           
        padding-top: 17rem;    
    }

    .summary-container{      
        flex-direction: column;
    }

    .summary-item-overview{
        max-width: 100%;   
    }

    meter {
        max-width: 15rem;
    }
}